@import url("https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Montserrat:wght@100;300;400;500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

* body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(30, 28, 32);
  color: rgb(204, 192, 192);
}

.navbar-brand {
  color: rgb(204, 192, 192);
  font-size: 2rem;
  font-weight: 600;
}

.navbar-brand:hover {
  color: rgba(255, 0, 21, 0.8078431373);
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-item {
  position: relative;
}
.navbar-nav .nav-item .nav-link {
  color: rgb(204, 192, 192);
  cursor: pointer;
}
.navbar-nav .nav-link:hover {
  color: rgba(255, 0, 21, 0.8078431373);
  transition: background-color 0.3s ease;
}
.navbar-nav .cart {
  cursor: pointer;
}
.navbar-nav .cart #touch {
  margin: 0.5rem;
}
.navbar-nav .cart #clkCarrito {
  display: none;
  background-color: white;
  width: 500px;
  height: 500px;
  color: black;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 100%;
  justify-content: center;
  overflow: auto;
}
.navbar-nav .cart #clkCarrito #carrito {
  text-align: center;
  margin: 1rem;
}
.navbar-nav .cart #clkCarrito #carrito table {
  margin: 1rem;
}
.navbar-nav .cart #clkCarrito #carrito a {
  text-decoration: none;
  margin: 1rem;
}
.navbar-nav .cart #clkCarrito #carrito #comprar {
  background-color: green;
  border-radius: 2px;
  color: white;
  padding: 0.2rem;
}
.navbar-nav .cart #clkCarrito #carrito #vaciar-carrito {
  background-color: rgb(94, 7, 7);
  border-radius: 2px;
  color: white;
  padding: 0.2rem;
}

nav a {
  color: rgb(204, 192, 192);
}

.footer {
  background-color: rgb(42, 38, 46);
  padding: 20px 0;
  color: #ffffff;
  text-align: center;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
}
.footer .container .footer-content {
  display: grid;
  justify-items: center;
  align-items: center;
}
.footer .container .footer-content .footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}
.footer .container .footer-content .footer-links a:hover {
  color: #777;
}
.footer .container .footer-social {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer .container .footer-social .footer-social a {
  color: #444;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}
.footer .footer-text {
  margin-top: 20px;
  font-size: 14px;
}

.port-sneakers {
  background-image: url(../img/portada2-lilnass.webp);
  background-repeat: no-repeat;
  width: 100%;
  padding: 10rem 0rem 10rem 0rem;
  background-size: cover;
  background-position: center;
}
.port-sneakers h1 {
  text-align: start;
  font-size: 5rem;
  color: beige;
  font-family: "Montserrat", sans-serif;
  margin-left: 50px;
  font-weight: 600;
  text-shadow: 0 0px 10px rgba(0, 0, 0, 0.993);
}

.destacados {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0rem 2rem 0rem;
  font-weight: 600;
  text-shadow: 0 0px 10px rgba(0, 0, 0, 0.993);
}

.global-sneakers {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}
.global-sneakers .sneakers-dest {
  background-color: rgb(42, 38, 46);
  border-radius: 20px;
  padding: 0.1rem 0.1rem;
  box-shadow: 0px 15px 20px rgba(8, 8, 8, 0.5);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  transition: opacity 1s ease, transform 1.5s ease;
}
.global-sneakers .sneakers-dest img {
  border-radius: 5px;
  width: 200px;
  height: 200px;
  box-shadow: 0px 5px 10px rgba(8, 8, 8, 0.5);
}
.global-sneakers .sneakers-dest .modelo {
  text-align: start;
  font-weight: 600;
  text-shadow: 0 0px 10px rgba(0, 0, 0, 0.993);
}
.global-sneakers .sneakers-dest .genero {
  font-weight: 500;
  color: rgb(255, 75, 10);
}
.global-sneakers .sneakers-dest .precio {
  font-weight: 500;
}
.global-sneakers .sneakers-dest .ContainerAddToCart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.global-sneakers .sneakers-dest .ContainerAddToCart .agregar-carrito {
  background-color: #2e2a2a;
  border: solid rgb(255, 75, 10) 0.5px;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 200px;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 500;
}
.global-sneakers .sneakers-dest .ContainerAddToCart .agregar-carrito:hover {
  background-color: #a89696;
  color: black;
  border: solid rgb(172, 47, 47) 0.5px;
}
.global-sneakers .sneakers-dest:hover {
  transform: translateY(-20px);
  transition: transform 0.5s ease;
}

@media (min-width: 577px) and (max-width: 768px) {
  .port-sneakers {
    padding: 5rem 0rem 5rem 0rem;
  }
  .port-sneakers h1 {
    text-align: start;
    font-size: 5rem;
    margin-left: 10px;
    font-weight: 600;
  }
  .global-sneakers {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .port-sneakers {
    background-size: cover;
  }
  .global-sneakers {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .port-sneakers {
    background-size: cover;
  }
  .global-sneakers {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .global-sneakers .sneakers-dest {
    width: auto;
    height: auto;
  }
  .global-sneakers .sneakers-dest img {
    width: 250px;
    height: auto;
  }
  .global-sneakers .sneakers-dest p {
    font-size: large;
  }
  .global-sneakers #sneakers-no-show {
    display: none;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .port-sneakers {
    background-size: cover;
  }
  .global-sneakers {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .global-sneakers .sneakers-dest {
    width: auto;
    height: auto;
  }
  .global-sneakers .sneakers-dest img {
    width: 250px;
    height: auto;
  }
  .global-sneakers .sneakers-dest p {
    font-size: large;
  }
  .global-sneakers .sneakers-dest .ContainerAddToCart .agregar-carrito {
    padding: 0.4rem 0.7rem 0.4rem 0.7rem;
    width: 200px;
  }
  .global-sneakers #sneakers-no-show {
    display: none;
  }
}
@media (min-width: 1401px) {
  .port-sneakers {
    background-size: cover;
  }
  .global-sneakers {
    margin: 3rem 2rem 3rem 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
  .global-sneakers .sneakers-dest {
    width: auto;
    height: auto;
  }
  .global-sneakers .sneakers-dest img {
    width: 350px;
    height: auto;
  }
  .global-sneakers .sneakers-dest p {
    font-size: large;
  }
  .global-sneakers .sneakers-dest .ContainerAddToCart .agregar-carrito {
    padding: 0.6rem 1rem 0.6rem 1rem;
    width: 200px;
  }
  .global-sneakers #sneakers-no-show {
    display: none;
  }
}
.btnOrden {
  display: flex;
  flex-direction: row;
  margin: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.btnOrden #orderBtnMenor {
  background-color: #2e2a2a;
  border: solid rgb(255, 75, 10) 0.5px;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 200px;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 500;
}
.btnOrden #orderBtnMayor {
  background-color: #2e2a2a;
  border: solid rgb(255, 75, 10) 0.5px;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 200px;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 500;
}
.btnOrden #orderBtnMenor:hover {
  background-color: #a89696;
  color: black;
  border: solid rgb(172, 47, 47) 0.5px;
}
.btnOrden #orderBtnMayor:hover {
  background-color: #a89696;
  color: black;
  border: solid rgb(172, 47, 47) 0.5px;
}

.catalogo {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}
.catalogo .sneakers-dest {
  background-color: rgb(42, 38, 46);
  border-radius: 20px;
  padding: 0.1rem 0.1rem;
  box-shadow: 0px 15px 20px rgba(8, 8, 8, 0.5);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  transition: opacity 1s ease, transform 1.5s ease;
}
.catalogo .sneakers-dest .img-snakers-cat {
  border-radius: 5px;
  width: 200px;
  height: 200px;
  box-shadow: 0px 5px 10px rgba(8, 8, 8, 0.5);
}
.catalogo .sneakers-dest .modelo {
  text-align: start;
  font-weight: 600;
  text-shadow: 0 0px 10px rgba(0, 0, 0, 0.993);
}
.catalogo .sneakers-dest .genero {
  font-weight: 500;
  color: rgb(255, 75, 10);
}
.catalogo .sneakers-dest .precio {
  font-weight: 500;
}
.catalogo .sneakers-dest .ContainerAddToCart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalogo .sneakers-dest .ContainerAddToCart .agregar-carrito {
  background-color: #2e2a2a;
  border: solid rgb(255, 75, 10) 0.5px;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 200px;
  text-transform: uppercase;
  transition: 0.5s;
  font-weight: 500;
}
.catalogo .sneakers-dest .ContainerAddToCart .agregar-carrito:hover {
  background-color: #a89696;
  color: black;
  border: solid rgb(172, 47, 47) 0.5px;
}
.catalogo .sneakers-dest:hover {
  transform: translateY(-20px);
  transition: transform 0.5s ease;
}

@media (min-width: 577px) and (max-width: 768px) {
  .catalogo {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .catalogo {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .catalogo {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .catalogo .cat-sneakers {
    background-color: rgb(30, 28, 32);
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  .catalogo .cat-sneakers .img-snakers-cat {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: solid rgb(42, 38, 46) 2px;
  }
  .catalogo .cat-sneakers p {
    text-align: start;
    padding-top: 0.5rem;
    font-weight: 600;
  }
  .catalogo .cat-sneakers .genero {
    text-align: start;
    padding-top: 0.5rem;
    font-weight: 200;
    color: white;
  }
  .catalogo .cat-sneakers .precio {
    font-weight: 500;
    color: rgb(170, 49, 5);
    margin-bottom: 1.5rem;
  }
  .full-shoes {
    display: grid;
    grid-template-areas: "carouselExampleDark full-view";
  }
  .full-shoes #carouselExampleDark {
    padding: 0.4rem 0.2rem 0.4rem 0.2rem;
    width: 100%;
  }
  .full-shoes .full-view .model-shoes .model-sneaker {
    font-size: 3.5rem;
    margin: 1rem 0.5rem 1rem 0.5rem;
  }
  .full-shoes .full-view .model-shoes .genre {
    font-size: 2rem;
    margin: 1rem 0.5rem 1rem 0.5rem;
  }
  .full-shoes .full-view .model-shoes .price {
    font-size: 1.7rem;
    margin: 1rem 0.5rem 1rem 0.5rem;
  }
  .full-shoes .full-view .btnCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1201px) {
  .port-accesorios {
    background-size: cover;
  }
  .catalogo {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .catalogo .cat-sneakers {
    background-color: rgb(30, 28, 32);
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  .catalogo .cat-sneakers .img-snakers-cat {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: solid rgb(42, 38, 46) 2px;
  }
  .catalogo .cat-sneakers p {
    text-align: start;
    padding-top: 0.5rem;
    font-weight: 600;
  }
  .catalogo .cat-sneakers .genero {
    text-align: start;
    padding-top: 0.5rem;
    font-weight: 200;
    color: white;
  }
  .catalogo .cat-sneakers .precio {
    font-weight: 500;
    color: rgb(170, 49, 5);
    margin-bottom: 1.5rem;
  }
}
.div-about {
  width: 100%;
  height: auto;
  background-image: url(../img/portada-lil\ nass.webp);
  background-size: cover;
  background-repeat: no-repeat;
}
.div-about h1 {
  text-align: end;
  padding: 3rem 0rem 5rem 0.2rem;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  font-weight: 600;
}

.about-us {
  text-align: center;
}
.about-us .p-1 {
  margin: 2rem 1rem 2rem 1rem;
  text-align: center;
}
.about-us .div-about2 .img-about {
  width: 100%;
  height: auto;
}

.about-us-2 {
  text-align: center;
}
.about-us-2 .p-1 {
  margin: 2rem 1rem 2rem 1rem;
}
.about-us-2 .div-about2 .img-about {
  width: 100%;
  height: auto;
}

.p-1 {
  text-align: center;
  margin: 2rem 1rem 2rem 1rem;
}

.iframe-map {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}
.iframe-map iframe {
  width: 400px;
  border: solid black 4px;
  border-radius: 2px;
}

.container-form {
  margin: 2rem 1rem 2rem 1rem;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem 2rem 1rem;
}
.container-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: x-large;
}
.container-form .form-group {
  margin-bottom: 20px;
}
.container-form .form-group #message {
  width: 100%;
}
.container-form .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}
.container-form .form-group button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.container-form .form-group button:hover {
  background-color: #444;
}

@media (min-width: 577px) and (max-width: 768px) {
  .div-about h1 {
    font-size: 3rem;
  }
  .about-us .p-1 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .about-us-2 .p-1 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .p-1 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .iframe-map iframe {
    width: 600px;
    height: 200px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .div-about h1 {
    font-size: 3rem;
  }
  .about-us .p-1 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .about-us-2 .p-1 {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .iframe-map iframe {
    width: 600px;
    height: 200px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .div-about h1 {
    font-size: 4rem;
  }
  .about-us {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us .p-1 {
    font-size: large;
    width: 50%;
    height: auto;
  }
  .about-us .div-about2 {
    width: 50%;
    height: auto;
  }
  .about-us .div-about2 .img-about {
    width: 100%;
    height: auto;
  }
  .about-us-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-us-2 .p-1 {
    font-size: large;
    width: 50%;
    height: auto;
  }
  .about-us-2 .div-about2 {
    width: 50%;
    height: auto;
  }
  .about-us-2 .div-about2 .img-about {
    width: 100%;
    height: auto;
  }
  .familia {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .familia .p-1 {
    font-size: x-large;
  }
  .iframe-map {
    width: 100%;
    height: auto;
  }
  .iframe-map iframe {
    width: 900px;
    height: 300px;
  }
}
@media (min-width: 1201px) {
  .div-about h1 {
    font-size: 4rem;
  }
  .about-us {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us .p-1 {
    font-size: 2rem;
    width: 50%;
    height: auto;
  }
  .about-us .div-about2 {
    width: 50%;
    height: auto;
  }
  .about-us .div-about2 .img-about {
    width: 100%;
    height: auto;
    margin: 0.5rem 0.5rem;
  }
  .about-us-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-us-2 .p-1 {
    font-size: 2rem;
    width: 50%;
    height: auto;
  }
  .about-us-2 .div-about2 {
    width: 50%;
    height: auto;
  }
  .about-us-2 .div-about2 .img-about {
    width: 100%;
    height: auto;
  }
  .familia {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .familia .p-1 {
    font-size: 3rem;
  }
  .iframe-map {
    width: 100%;
    height: auto;
  }
  .iframe-map iframe {
    width: 900px;
    height: 300px;
  }
}/*# sourceMappingURL=main.css.map */